body{
    margin:0px;
    font-family: 'Century Gothic', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* TopNav */
#login-section{
    background-image: url(../images/assets/Signup-Page.png);
    min-width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    padding-top: 5%;
}
h6 {
    color: #fff;
}
h2 {
    color: #fff;
    font-weight: 200;
}
h1 {
    color: #fff;
    font-weight: 400;
}
.bemVindo p{
    color: #fff;
    font-weight: 500;
}
.form-login{
    padding-top: 20px;
    background-color: #002337;
    width: 100%;
    height: 420px;
    border-radius: 15px;
    color:#fff;
}
.logo-form{
  
        background-image: url(../images/assets/mazza.png);
        background-size: 90px;
        height: 106.365px;
        background-repeat: no-repeat;
        background-position-x: center;
        padding-bottom: 50px;
}
.form-login a{
    text-decoration: none!important;
    color: #006EA2!important;
    font-size: 15px;
}
.form-login a:active{
    color: #fff!important;    
}
.form-login a:focus{
    color: #fff!important;;
}

.input{
    color: #eef0f2;
    background-color: #002337;
    border-radius: 30px;
    border-color: #eef0f2;
    margin-top: 10px;
    height: 45.133px;
    width: 75%;
    text-align: center;
    font-size: 16.26px;
    outline: none;
}
::placeholder {
    color: #eef0f2;
    opacity: 1;
    text-align: center;
    font-size: 16.26px;
}
.input:focus {
    color: #eef0f2;
    background-color: #002337;
    border-radius: 30px;
    border-color: #eef0f2;
    margin-top: 10px;
    height: 45.133px;
    width: 75%;
    text-align: center;
    font-size: 16.26px;
}
.signin-image{
    height: 120px;
    background-repeat: no-repeat;
    background-position-x: center;
    padding-bottom: 50px;
}
.login-button{
    background-image: url(../images/assets/foward-login.png);
    background-size: 65px;
    height: 106.365px;
    background-repeat: no-repeat;
    background-position-x: center;
    padding-bottom: 50px;
}
.aceleradora{
    color:#fff;
    margin-top: 70px;
    font-weight: 900;
    margin-bottom: 48px;
}

#mobileForm{
    display: none;
}

@media  (max-width:  767px) {
    #webForm{
        display: none;
    }
    #mobileForm{
        display: block;
    }
    .bemVindo p{
        color: #fff;
        font-size: 45px;
    }
}