body{
    font-family: 'Century Gothic', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
header{
    padding: 40px;
    background-color: #092538;
    color:#fff;
 }

 
 .header-img{
 display: inline-block;
}
.mobileMenu{
    display: none;
}
 .header-text{
    border-left: 6px solid #2b7170;
    padding-left: 20px;
    margin-left: 20px;
    display: inline-block;

 }
 .header-text h2{
   color: #fff;
   font-size: 25pt;
   font-weight: 600;
   
 }

 .menu-nav{
    padding-top: 40px;
    float: right;
 }
 .menu-nav i{
       font-size: 30px;
       color:#c7c4c4;
 }
.imgLogo{
    width: 95px; 
    height: 75px;
     margin-top: -55px;
}
 .dropdown-item{
    padding:.2rem 1rem;
    font-size:14px;
    color:#006EA2;
 }
 .horizontal-align {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: auto;
    font-size: 0;
}

.two-items .item {width: 50%;}
.item {display: inline-block;vertical-align: top;}

 @media screen and (max-width: 812px) {
    .header-text h2{
        font-size: 20pt;
    }
    .imgLogo{
        width: 85px; 
        height: 65px;
    }
   
  }

  @media screen and (max-width:  638px) {
    .header-text h2{
        font-size: 14pt;
        margin-top: 10px;
    }
    .imgLogo{
        width: 65px; 
        height: 55px;
        margin-top: -22px;
    }

    header {
        padding: 30px;
    }
    .menu-nav {
        padding-top: 15px;
    }
   
  }
  @media screen and (max-width:  578px) {.col-Logo{padding-left: 0px;}}
  @media screen and (max-width:  576px) {
      .desk-menu{ display: none;}
      .mobileMenu{display: block;}
        .imgLogo {margin-top: 0px;}
    }

/* Section Courses */

.image-author, .course-icon{
    border: 4px solid #2b7170;
    border-radius: 5px;
}
.info-author p {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 0rem;
    color: #092538;
}
.info-author i{
    font-size: 25px;
    font-style: normal;
    color: #255b75;
}
.info-author strong , span {
    color: #006EA2;
    font-size: 15px;
}

.col-info-author{border-right: 10px solid #2b7170;}
@media screen and (max-width:  768px) {.col-info-author{border-right: none;}}
.wrapper-course{
    text-align: center;
    font-size: 15px;
    border-bottom: 1px solid #2b7170;
    border-radius: 5px;
    margin-bottom: 35px;
    padding-bottom: 20px;
}
.course-icon{
    border: 4px solid #2b7170;
    border-radius: 5px;
    margin-bottom: 10px;
}
.wrapper-course a{color: #006EA2;text-decoration: none;}
.wrapper-course a:hover{ color: #2b7170;}
.wrapper-course i {color:#1d3342; font-size: 13px;}
/* Course Details */
.course-image{
    border: 4px solid #2b7170;
    border-radius: 5px;
}
.title-course{
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0rem;
    color: #092538;
}

.author-thumb span{
    margin-top: 15px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0rem;
    color: #092538;
  
}
.author-thumb-img{
    margin-bottom: 25px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.text-course{
    font-size: 15px;
    color:#092538;
}


.col-payCourse{
    padding:20px;
    color:#fff;
    border: 4px solid #2b7170;
    border-radius: 5px;
    background-color: #2b7170;
}
.col-payCourse p {
    font-weight: 700;
    font-size: 20px;
}
.span-left{
    color:#092538;
    font-weight: 700;
    font-size: 16px;
}
.span-right{
    float: right;
    color:#fff;
}
