body {
    font-family: 'Century Gothic', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(../img/signup-page.jpg);

}


/*  CONFIGURACAO DA PRIMEIRA PAGINA*/

/*Configurando o Header*/
.area-header {
    margin-top: 50px;
}

.btn-entrar {
    color: #529CBF;
    background-color: #011d2e;
    border: none;
    border-radius: 30px 0px 0px 30px;
    width: 120px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    padding: 0px 20px 0px 20px;
}

.img-entrar {
    margin-left: -22px;
    margin-top: -6px;
    width: 55px;
    height: 55px;
}
/*Fim da Configurando o Header*/

/*  Area dos textos */
.area-header {
    margin-top: 50px;
}

.area-textos {
    margin-top: 60px;
}

.area-textos > h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    text-align: center;
    font-weight: lighter;
}

.area-textos > p {
    margin-top: 20px;
    color: #ffffff;
    text-align: center;
}

.area-footer {
    margin-top: 80px;
    margin-right: 120px;
}

.area-footer > p {
    margin-top: 20px;
    color: #ffffff;
    font-size: 12px;
    text-align: right;
    font-weight: lighter;
    padding: 12px;
}
/*  Area dos textos */

/*formulario*/
.area-email > p {
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    font-size: 17px;
}

.area-email input, button {
    font-size: medium;
    height: 60px;
    border-radius: 30px 0px 0px 30px;
    border: none;
}

.area-email button {
    font-size: medium;btn-estilo
    height: 60px;
    border-radius: 0px 30px 30px 0px;
    border-left: 2px solid #529CBF;
    background-color: #ffffff;
    color: #529CBF;
    font-weight: bold;
    padding: 0px 30px 0px 30px;
}
.area-email button:hover {
    color: #ffffff;
    background-color: #529CBF;

}
/*formulario*/


/*  Accordions / Collapse */
.accordion {
   /* background-color: #eee; */
    color: #529CBF;
    font-weight: bold;
    background-color: #ffffff;
    border: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }

  .btn-area-textos {
    border-radius: 30px;
}
  
.active, .accordion:hover {
    background-color: #529CBF; 
    border: #529CBF;
    color: #ffffff;
  }

  .panel {
    padding: 0 18px;
    display: none;
   /* background-color: white; */
    overflow: hidden;
    margin: 20px;
  }

  .collapse-accordion, div > h1 {
    margin-bottom: 50px;
}

/*  Accordions / Collapse */

/*  FIM DA CONFIGURACAO DA PRIMEIRA PAGINA
=================================================================================================
*/


/*  INICIO DE CONFIGURACAO DA SEGUNDA PAGINA (AULAS)*/

/*Configuracao da area do texto*/
.aulas-textos {
    background-color: #ffffff;
    margin-top: 20px;
    padding: 30px 0px;
}

.p1 {
    color: #092538;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
}

.p2 {
    color: #092538;
    text-align: center;
    font-size: 25px;
}

/*Configuracao da arae do Checkboxs*/
.checkpartes-alldivs {
    margin-top: 60px;
    margin-bottom: 130px;
}

.form-check {
    margin: 20px;
    font-weight: bold;
    font-size: 18px;
}

/* Pagina de pagamento */
.btn-estilo {
    color: #529CBF;
    border: 2px solid #529CBF;
    font-weight: bolder;
}

.btn-estilo:hover {
    color: #ffffff;
    background-color: #529CBF;
    font-weight: bolder;
}

/* Fim da Pagina de pagamento */

.hr {
    width: 40%;
    box-shadow: 0 0 10px 1px #042a3b;
    border-radius: 20%;
}
.div-botao{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    min-height: 50vh;
}
.botao {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
h5 {
    color: #000;
    align-items: justify; 
    text-align: justify; 
}
.tab-pane {
    background-color: #ffffff;
    color: #000;
}
.botaoConfirmar {
    border-radius: 5%;
    width: 160px;
    height: 40px;
}
.p6 {
    color: #000;
    font-size: 10px;
    text-align: justify;
}
.h4{
    color: #011d2e;
    text-align: justify;
}
.h5{
    color: #011d2e;
    text-align: justify;
}
.h6Prog{
    color: #011d2e;
    text-align: justify;
    font-size: 15px;
    font-weight: bolder;
}
.progPadd{
    padding-right: 19.5%;
}
.bolderProg {
    padding-right: 14.5%;
}
.bolderProg2 {
    padding-right: 13%;
}
.bolderProg3 {
    padding-right: 15.5%;
}
.bolderProg4 {
    padding-right: 12.5%;
}
.hv {
    margin: 10px;
    height: 80px;
    border-left: 5px solid rgb(48, 66, 46);
}
.hvCard {
    margin-top: 10px;
    margin-left: 50px;
    height: 120px;
    border-left: 1px solid #000;
}
.hvPlan {
    margin-top: 10px;
    margin-left: 80px;
    height: 60px;
    border-left: 1px solid #000;
}
.h6Cont {
    color: #011d2e;
    text-align: center;
}
.tamanhoProgress{
    height: 40px;
}
.progress1{
    background-color: #09793b;
}
.progress2{
    background-color: #011d2e;
}
.tituloAula{
    color: #000;
}