/* 

Colors
DARK: #092538
LIGHT: #529CBF 

*/

body {
    font-family: 'Century Gothic', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("../assets/signup-page.jpg");
    /* background-color: aqua; */
}
/* Home Page */
.btn-entrar {
    background-color: #092538;
    color: #529CBF;
}

.btn-entrar:hover{ 
    color: #ffffff;
}

.estilo-paragrafo {
    padding-top: 10px;
}

.texto-formulario {
    color: #ffffff;
}

.area-email button {
    border-left: 2px solid #529CBF;
    background-color: #ffffff;
    color: #529CBF;
    font-weight: bold;
    text-transform: uppercase;
}

.area-email button:hover {
    color: #ffffff;
    background-color: #529CBF;

}

.rodape > p {
    margin-top: 100px;
    color:#ffffff;
    text-align: end;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 4px;
}

/* Media Queries */

@media (max-width: 992px) {
    .estilo-cabecalho {font-size: 20px;}
    .estilo-paragrafo {font-size: 12px;}
    .texto-formulario {font-size: 12px; text-align: center;}

    .rodape > p {
        margin-top: 40px;
        color:#ffffff;
        text-align: center;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 4px;
    }
}
/* End Of Home Page */

/* Pagina das Aulas */
.aulas-textos > p {
    color: #092538;
    font-weight: bolder;

}

.aulas-textos > h1 {
    color: #529CBF;
}

.linha-mobile-settings {
    margin-top: 50px;
}

.section-mobile-settings {
    padding-bottom: 190px !important;
}



@media(max-width: 768px) {
    .mobile-settings {
        /* background-color: yellow; */
        margin-bottom: 20px;
        align-content: center;
    }

    .section-mobile-settings {
        padding-bottom: 90px !important;
    }
}
/* Fim da Pagina das Aulas */

/* Pagina de pagamentso */
.btn-estilo {
    color: #529CBF;
    border: 1px solid #529CBF;
    font-weight: bolder;
}

.btn-estilo:hover {
    color: #ffffff;
    background-color: #529CBF;
    font-weight: bolder;
}

/* Fim da Pagina de pagamentso */